body {
    background-image:linear-gradient(
    180deg,
    #649ED 5%,
    #00FFFF 20%,
    #008B8B 60%,
    #00CEDI 95%
    );
    margin: 0;
    min-height:100vh;
    width:100%;
    }
    
    main{
        align-items:center;
        display:flex;
        height:100vh;
        justify-content: center;
        position:relative
        }
        
   main > section img {
   height: 300px;
   margin: 15px 0;
   width:300px;
   }
   
    main > section button {
        background-color:#00FFFF;
        border:none;
        border:radius 4px;
        color:blue;
        font-family:euclidebold;
        font-size:18px;
        font-weight:500;
        letter-spacing:0.6px;
        line-height:20px;  
        text-transform:uppercase;
        padding:9px 23px;
        }
        
        #detalhes-container{
            font-weight:bold;
            list-style-type:nome;
            width: 90%;
            }
            
    #detalhes-container > li {
        align-items: baseline;
        display:flex;
    }        
    
    
    #detalhes-container > li p{
        color:red;
    }

h1 , h2 {
  background :  linear-gradient (à direita ,  # 45B649 ,  # DCE35B );
  preenchimento :  10px ; _
  text-align : centro;
  cor : preto

}

. personagens {
  fundo :  # DCE35B ;
  exibição : bloco em linha;
  preenchimento :  10px ; _
}

. personagens : pairar {
  fundo : amarelo- esverdeado;
  cursor : ponteiro;
}

. personagens  h3 {
  fundo : preto;
  preenchimento :  5px ; _
  raio da borda :  10 px ;
}

. personagens  >  p {
  fundo : preto;
}

. personagens  h3  +  p {
  fundo : preto;
}


h3 {
  fundo : preto;
  preenchimento :  5px ; _
}

rodapé {  
  cor : cinza;
  text-align : centro;
  estilo da fonte : itálico;
}

a : pairar {
  cor : azul royal;
  decoração de texto : nenhuma;
}

um {
  decoração de texto : nenhuma;
  estilo da fonte : itálico;
}

# foto-texto {
  margem esquerda :  400 px ;
}

# foto-cabecalho {
  altura :  100px ; _
  largura :  300px ; _
}


